In [1]:
import pandas as pd

аналіз залученості населення Європи до спорту (вподобання та причини)

In [2]:
df = pd.read_csv('data/output.csv')
df.head()

,studyno1,studyno2,doi,version,edition,survey,respondent_serial,serialid,uniqid,tnscntry,...,w9,w10,w11,w85,w86,w13,w94,w14,w22,w92
0,7888,7888,doi:10.4232/1.14055,1.0.0 (2022-12-21),1,973,6,1,20000001,2,...,NaN,0.830778,0.274903,0.353595,NaN,NaN,NaN,0.373504,0.383012,0.394492
1,7888,7888,doi:10.4232/1.14055,1.0.0 (2022-12-21),1,973,12,2,20000002,2,...,NaN,0.830519,0.274817,0.353484,NaN,NaN,NaN,0.373387,0.382892,0.394369
2,7888,7888,doi:10.4232/1.14055,1.0.0 (2022-12-21),1,973,18,3,20000003,2,...,NaN,0.714949,0.236575,0.304296,NaN,NaN,NaN,0.321429,0.329612,0.339491
3,7888,7888,doi:10.4232/1.14055,1.0.0 (2022-12-21),1,973,23,4,20000004,2,...,NaN,0.904568,0.299320,0.385001,NaN,NaN,NaN,0.406679,0.417031,0.429531
4,7888,7888,doi:10.4232/1.14055,1.0.0 (2022-12-21),1,973,27,5,20000005,2,...,NaN,0.677808,0.224285,0.288488,NaN,NaN,NaN,0.304731,0.312488,0.321855

In [3]:
df.shape

(26569, 501)

In [4]:
df.columns

Index(['studyno1', 'studyno2', 'doi', 'version', 'edition', 'survey',
       'respondent_serial', 'serialid', 'uniqid', 'tnscntry',
       ...
       'w9', 'w10', 'w11', 'w85', 'w86', 'w13', 'w94', 'w14', 'w22', 'w92'],
      dtype='object', length=501)

qa, d9, d8, d7, d71, qaб, qc, d, s

qb, d10, d70, p, w